<!--注册模块-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>注册</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="post" action='/registuser'>
            <label>邮箱：<input type="text" id="user" value=""></label>
            <input type="button" value="发送验证码" onclick="sendVerification()"><br>
            <label>验证码：<input type="text" id="captcha" value=""></label><br>
            <label>密码：<input type="password" id="password" value=""></label><br>
            <input type="button" value="注册" onclick="register()">
        </form>
    </body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>

