<!--注册模块-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>注册</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="d-flex justify-content-center align-items-center vh-100">
        <form method="post" action='/registuser'>
            <div class="form-row">
                <div class="col-auto">
                    <label for="user">邮箱：</label>
                </div> 
                <div class="col-auto">
                    <input type="text" class="form-control" id="user" value="">
                </div>
                <div class="col-auto">
                    <input type="button" value="发送验证码" onclick="sendVerification()" class="btn btn-primary">
                </div>
            </div>
            <div class="form-group">
                <label for="captcha">验证码：</label>
                <input type="text" class="form-control" id="captcha" value="">
            </div>
            <div class="form-group">
                <label for="password">密码：</label>
                <input type="password" class="form-control" id="password" value="">
            </div>
            <div class="form-group">
                <label for="qrCodeContainer">OTP二维码（注册后显示）</label>
                <div id="qrCodeContainer"></div>
            </div>
            <div class="form-group">
                <input type="button" value="注册" onclick="register()" class="btn btn-primary">
            </div>
        </form>

        <!-- Add Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>

